{{ define "main" }}

  <article class="measure-wide center pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf   pv3 pv4-l f4 tc-l  measure-wide lh-copy mid-gray">
      {{- .Content -}}
      <p id="top">Touren-Archiv</p>
    </section>

    <div class="w-100">
      <!-- Groups content by month according to the "date" field in front matter -->
      {{ range .Pages.GroupByDate "2006" }}
        <section class="mt5">
        <div>
          <h3 id="{{ .Key }}">{{ .Key }} </h3>
        </div>

            <div class="center">    
              <section class=" mt1">
                {{ range  .Pages }}
                  <div class="relative mb1 bg-white">
                    {{ partial "archive-post-summary.html" . }}
                  </div>
                {{ end }}
              </section>
            </div>
          </section>
      {{ end }}
      <div class="mt4 flex flexbox justify-center">    
        <a href=#top>top</a>
    </div>
    </div>
  </article>
{{ end }}
